# Auth.API — Puerto 5001
# En emulador Android usar 10.0.2.2 para alcanzar localhost del host
EXPO_PUBLIC_AUTH_API_URL=http://10.0.2.2:5001

# Alert.API — Puerto 5002
EXPO_PUBLIC_ALERT_API_URL=http://10.0.2.2:5002
